<div class="" ng-app="myApp" ng-controller="pricingController">
    <div class="mt-10">
      <hero-section 
    title="Perfect Plan for Your Eco Journey" 
    subtitle="Let’s Start a Conversation" 
    description="Select the plan that’s right for you and join our community of eco-conscious individuals today."
    btn-text="Get Registered" 
    btn-link="register.html" 
    show-social="true"
    hero-image="images/pricingHero.png"
    heart-image="images/calling.png">
      </hero-section>
      <pricing-section></pricing-section>
      
      <learn-more-section></learn-more-section>
      <pricing-plan></pricing-plan>
      <price-card-section></price-card-section>

      <faq-component></faq-component>
      <contact-us-component></contact-us-component>

    </div>
  </div>
  