<div ng-app="myApp" ng-controller="AboutController">
  <div class="mt-10">
      <hero-section 
          title="Our Commitment to Sustainability & Community" 
          subtitle="About Us" 
          description="Empowering Positive Environmental Actions Through Innovative Rewards."
          btn-text="Get Registered" 
          btn-link="register.html" 
          show-social="true"
          hero-image="images/aboutHero.png"
          heart-image="images/medal-star.png">
      </hero-section>
      <mission-section></mission-section>
      <story-section></story-section>
      <team-section></team-section>
      <features-section></features-section>
      <benefits-section></benefits-section>
      <stats-component></stats-component>
      <about-component></about-component>
      <faq-component></faq-component>
  </div>
</div>
