<div class="mission-section text-center  mt-5">
    <div class=" text-center border-0 shadow-sm align-items-center container" style="background-color: #F4F9FF; border-radius: 12px; padding: 70px;">
      
      <!-- Badge -->
      <div class="badge-custom px-4 py-2 rounded-pill  text-black shadow-sm d-inline-flex align-items-center shadow-sm">
        <img src="./images/like.png" alt="Like Icon" class="me-2" width="30"> Our Mission
    </div>
  
      <!-- Title -->
      <h3 class="fw-bold mt-2">Driving Sustainability and Community Engagement</h3>
  
      <!-- Subtitle -->
      <p class="text-muted">Rewarding Eco-Friendly Actions for a Greener Future</p>
  
      <!-- Description -->
      <p class="text-secondary px-lg-5">
        At Green Wave Loyalty Card, our mission is to inspire and empower individuals 
        to adopt sustainable practices in their daily lives. By offering a unique rewards 
        system, we aim to create a positive impact on the environment and foster a sense 
        of community among our users.
      </p>

      <!-- Button -->
      <button class="btn text-white mt-3 px-5 py-2">Join Us Now</button>
      
    </div>
  </div>
  