<div class="" ng-app="myApp" ng-controller="contactController">
    <div class="mt-10">
      <hero-section 
    title="Reach Out to Us Today" 
    subtitle="Let’s Start a Conversation" 
    description="Our experts are available to answer any questions you might have. We’ve got the answers."
    btn-text="Get Registered" 
    btn-link="register.html" 
    show-social="true"
    hero-image="images/contactHeroImg.png"
    heart-image="images/calling.png">
</hero-section>

    
      <form-section></form-section>
      <learn-more-section></learn-more-section>
      
      <faq-component></faq-component>
      <contact-us-component></contact-us-component>

    </div>
  </div>
  