<section class="discount-section">
    <div class="">
        <div class="row align-items-center px-5 container">
            <!-- Left Content -->
            <div class="col-md-6 pr-10">
                <div class="badge-custom px-4">
                    <img src="/images/medal.png" alt="Like Icon" class="me-2" width="30"> Discount
                </div>
                <h2 class=" mt-3">Gain points and enjoy massive discounts</h2>
                <p class="text-black" style="font-size: 16px;">
                    Empowering individuals to make eco-friendly choices and earn rewards for sustainable actions.
                </p>
                <button class="btn text-white  mt-3 px-5 py-2">Get Started</button>
            </div>
            <!-- Right Image -->
            <div class="col-md-6 text-center">
                <img src="/images/discountPic.png" alt="Discount Illustration" class="img-fluid">
            </div>
        </div>
    </div>
</section>