<div class="" ng-app="myApp" ng-controller="HomeController">
    <div class="mt-10">
      <hero-section 
    title="Enjoy massive discounts with GreenWave" 
    subtitle="Welcome To Green Wave Loyalty Card" 
    description="Earn rewards for your green actions and spend them on eco-friendly products."
    btn-text="Get Registered" 
    btn-link="register.html" 
    show-social="true"
    hero-image="images/heroImg.png"
    heart-image="images/like.png">
</hero-section>

      <discount-section></discount-section>
      <about-component></about-component>
      <features-component></features-component>
      <stats-component></stats-component>
      <pricing-section></pricing-section>
      <companies-component></companies-component>
      <learn-more-section></learn-more-section>
      <sponsers-section></sponsers-section>
      <charity-component></charity-component>
      <faq-component></faq-component>
      <contact-us-component></contact-us-component>

    </div>
  </div>
  